@font-face {
    font-family: "myFirstFont";
    src: url('lvnm.ttf');
}
.header
{
	background-color:#3399CC;
	height:110px;
	margin-right:-50px;
	color:#FFFFFF;
	font-family:myFirstFont;
	font-size:50px;
	text-align:left;
	vertical-align:center;
	padding-left:24px;
	line-height:119px;
}
.newsHeading
 {
	 margin-left:1.5%;margin-top:4px;
 }

.NavBar{
	display:block;
	background-color:#333333;
	height:36px;
	margin-right:-50px;
	font-weight:25px;
	
	}

.NavBar a {
  float: left;
  color:white;
  text-shadow: 0.5px;
  text-align: center;
  padding :7px 0.2px 2px 30px;
  text-decoration: none;
  font-size: 17px;
  font-family: gadugi,Arial,Calibri;
  font-weight:50px;
  
}
@media (min-width:1050px)
{

p{
	margin-left:2%;
}
body{
	font-family: gadugi,Arial,Calibri;
	color:#333333;
	text-shadow:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	width:1500px;
	font-weight:600;
	
	
	
}

 ul{
	 list-style-type:none;
 }
 ul li{
	 margin-left:-24px;
	 margin-top:-15px;
	 margin-bottom:10px;
	 font-weight:15px;
	 color:#333333
	
 }
 li:before {
        content: "-   ";
		text-shadow:2px;
		
		
		
 }
 
.newsDiv{
	margin-left:50px;
	border:0.5px solid #D5D5D5;
	margin-right:48.5%;
	margin-top:1.3%;
	padding:-30px 1px 2px 2px;
	font-size:13.3px;
	text-shadow:10px;
	font-weight:550;
	color:black;
	}
.welcomeMsg{
margin-left:20px;
 margin-top:27px; 
 margin-bottom:-2px;
 color:black;
}


.welcome
{
	
	margin-left:30px;
	margin-right:5%;
	font-size:14px;
	color:#333333;
	font-weight:600;
	font-family: gadugi,Arial,Calibri;
}
p{
	font-family: gadugi,Arial,Calibri;
	margin-left:20px;
	margin-right:26%;
	font-size:13px;
	font-weight:600;
	color:#333333
	
	};
}
@media (max-width:1049px)
{

	
 
.newsDiv{
	margin-left:5px;
	border:0.5px solid #D5D5D5;
	margin-top:1.3%;
	padding:-30px 1px 2px 2px;
	font-size:13.3px;
	text-shadow:10px;
	font-weight:550;
	 font-family: gadugi,Arial,Calibri;
	color:black;
	}
	.welcome{
		font-family: gadugi,Arial,Calibri;
		font-weight:600;
	}
	
	
}


