@font-face {
    font-family: "myFirstFont";
    src: url('lvnm.ttf');
}
.header
{
	background-color:rgba(51,153,204,255);
	height:80px;
	color:whitesmoke;
	font-family:myFirstFont;
	font-size:50px;
	text-align:left;
	vertical-align:center;
	padding: 33px 18px 13px 25px;
	
	
	
}


p{
	margin-left:2%;
}

	
body{
	font-family: gadugi,Arial,Calibri;
	color:#3b3c36;
	text-shadow:10px;
	
}

 
 ul li{
	 margin-left:-24px;
	 margin-top:-9px;
	 color:black;
	 font-weight:15px;
	
 }
  li:before {
        content: "-   ";
		text-shadow:2px;
		
		
		
  }

.NavBar{
	display:block;
	background-color:#555555;
	height:35px;
	font-weight:25px;
	}

.NavBar a {
  float: left;
  color:white;
  text-shadow: 0.5px;
  text-align: center;
  padding :8px 0.2px 2px 30px;
  text-decoration: none;
  font-size: 17px;
  font-family: gadugi,Arial,Calibri;
  font-weight:50px;
  
}
.newsDiv{
	margin-left:50px;
	border:0.5px solid #D3D3D3;
	margin-right:45%;
	margin-top:1.3%;
	padding:-7px 1px 2px 2px;
	font-size:15px;
	text-shadow:10px;
	
	
	
}
.welcome
{
	margin-left:30px;
	margin-right:25%;
	font-size:15px;
	
	
}