
#container
{
    margin:auto;
    width:80%;
    height:700px;
	font-family:Microsoft JhengHei UI;
}
.header
{
  width:100%;
  height:12%;
      
}
.tag
{
  margin:0;
  float:left;
}
.profile
{
  margin-top: -20%;
  margin-left: 90%;
}
.welcome{
  margin-left :58%; 
  margin-top:-20px;
  display:inline-block;
  width: 300px;
  opacity:0.5;
}
.welcome h2,h3{
  margin:0;
  
}
.welcome .child1
{
  display:inline-block;
  color:#00B1FC;
}
.welcome .child2
{
  display:inline-block;
}


.search
{
  background-image: url('search.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  height:30px;
  width:175px;
  font-size: 12px;;
  text-align :center;
}
.search-label
{
  font-size: 13px;
}
.clear
{
  margin-left:20px;
  color:white;
  width:65px;
  height:30px;
  border: 1px solid white;
  background-color:#69BA00;
  
}

.search-container
{
  width:50%;
}

.for-filter
{
  width:50%;
  font-size: 13px;;
  margin-left:338px;
  margin-top: -37px;
  
}
#filter{
  width:125px;
  height:30px;
  margin-top: -10px;
  margin-left:8px; 
  font-size:12px;
  color:grey;
  border:2px solid black; 
}


.emp-dir-heading
{
    
    color:#00B1FC;
    margin:8% 0% 0% 15%;
    width:100%;
    
}
.line
{
width:100%;
height:1px;
background-color: black;
}
.tagline
{
  margin:0;
	width:100%;
	margin-left:15%;
	color:grey;
    
}
.saketa
{
    width:15%;
    margin:0;
    float:left;
}
.left-div
{
width: 20%; 
float:left;
height:75%;

}
#left-content
{
  margin-top:-24px;
  margin-left: 15px;
}
.right-div{
width:80%; 
float:right;
height:75%;


	
}
ul
{
  font-size:15px;
  margin-left: -37px;
  list-style-type: none;
  margin-top: -15px;
}
.view-more
{
  display:none;
  color:#00B1FC;
  font-size: 14px;;
  text-decoration: none;
}
.row1
{
	width:100%;
	height:20%;
  
	
}
.row2
{
	width:99.6%;
	height: 80%;
  border: 1px solid grey;
	
}
#buttonsContainer button{
    background-color:#00B1FC;
    color:white;
    border:1px solid white;
    padding: 5px;
    width: 3.8%  ;
    margin-top: -28px;
    

}
#buttonsContainer
{
    margin-left: 30px;
}

.contact-pic
{
    color:#69BA00;
    width:29px;
    height:27px;
    
    
}
.add
{
    background-color: #00B1FC;
    color:white;
   
}



.note{
  font-size: 13px;
  margin:-14px 0px 9px 0px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
    width: 120px;
    background-color: #00B1FC;
    border:1px solid white;
    margin:-45px 0px 0px 665px;
    margin-left: 87%;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    z-index: 1;
    }
 
  .label{
    
    font-size: 13px;
    font-weight: bold;
    
  }
  /* Add styles to the form container */
  .form-container {
    
    width:30%;
    position:absolute;
    margin-top: -550px;
    margin-left: 35%;
    z-index: 1;
    padding:0px 0px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1;
    background-color:white;
    border:5px solid #00B1FC;
    
  }
  .add-emplyee-heading
  {
    text-align: center;
    margin:5px;
    color:#00B1FC;
  }
  .left-details
  {
    width:50%;
    float:left;
    
    
  }
  .right-details
  {
    width:50%;
    float:right;
  }
  
    
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    display:block;
    font-size: 12px;
    height:25px;
    padding: 5px;
    border: 1px solid black;
    background:white;
    margin:4px;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color:#00B1FC;;
    
    cursor: pointer;
    width:50%;
    border-radius: 8px;;
    height:30px;
    margin:0px 25px 15px 35px;
    opacity: 0.8;
  }
  .form-container .btn-cancel {
    background-color:#00B1FC;;
    cursor: pointer;
    width:50%;
    border-radius: 8px;;
    height:30px;
    margin:5px 25px 15px 35px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .btn-cancel {
    background-color:#00B1FC;
    
  }

  
  /* Add some hover effects to buttons */
  .form-container .btn:hover ,.btn-cancel:hover{
    background-color:#69BA00;
  }
  
  #mydata
  {
    width:150px;
    font-weight: bold;
    color:rgba(0,0,0,0.7);
    margin:0;
    font-size:13px;
  }
  #mydata h3
  {
    color:black;
  }

  #cardsContainer .card{
    border:1px solid white;
    padding: 5px;
    width: 223px; 
    height:65px;;
    margin:2px ;
    background-color: #E9E8E8;
    display: inline-block;
    padding: 5px;
  }

  #cardsContainer
  {
    margin:5px;
    
  }
  .image
  {
    width:35%;
    height:98%;
    float:left;
  }
  #cardsContainer .details
  {
    width:60%;
    height:70px;
    float:right;
    border:0px;
    background-color: #E9E8E8;
    font-weight:bold;
    font-size:12px;
    
  }
  
 #cardsContainer .title
 {
  color:rgb(97, 93, 93);
   margin:1px 0px 0px 1px;
   font-size: 10.5px;
 }
 #cardsContainer .extras
 {
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  color:rgb(100, 100, 100);
  margin-top:5px;
   width: 85%;
 }
#FirstNameError, #LastNameError,#JobTitleError,#OfficeError,#DepartmentError,#PhoneNumberError,#EmailError,#PreferredNameError
{
  color:red;
  font-size:9px;
}
h1{
  text-align:center;
  color:#00B1FC;
  margin-top:180px;
  
}
.upload-pic
{
  margin: -27.5px 0px 0px 5px;
}
.upload-pic1{

margin:5px;
}