body
{
    background-image:url("background12.png");
    font-family: 'Calibri';
}
.container
{
    margin:auto;
    width:1060px;
    height:700px;
    
}
.first a
{
    text-decoration: none;
    color:#ADABAC;
}
.first{
    color:#ADABAC;
    float:left;
    width:1060px;
    height:40px;
    font-size: 12px;
    line-height:2;

}
.lock
{
    margin-left:8px;
    height:14px;
}
.navbar
 {
    margin-left: 39%;
    margin-top: -35px;
    padding: 4px;
}
 .navbar .combine .checkout 
 {
    color:navy;
    opacity:0.7;
    
 }
.combine
{
    
    padding-left:19px;
    margin-top:-23px;
}
ul{
    list-style-type:none;
}
.first li {
    float: left;
}
.first li + li:before{
	content: " | ";
    padding: 0 10px;
    
}

.second
{
    
    float:left;
    font-size: 14px;;
    width:1460px;
    margin-left:-200px;
    height:28px;
    border-top:2px solid #D9D7D8;
    border-bottom:2px solid #D9D7D8;
    line-height: 2.3;
    
    
}
.second .Dining
{
    padding-left: 205px;
    margin-left: -40px;
    
}
.second li
{
    padding-left:20px;
    padding-right:20px;
    background-color: #D9D7D8;
    margin-right:1px;
    font-size:12px;
   
}
.second a{

    color:black;
    text-decoration: none;;
}
.second ul{
    margin:0;
}


.second li
{
    
    float:left;
}

.second .search
{
    background-color:#D9D7D8;
    padding-left: 70px;
    padding-right: 296px;
}
.second .textfield
{
    height:12px;
    font-size:10px;
    margin-right:5px;
}
.go
{
    padding:1px 1px 1px 1px;
    border-radius:4px;
    background-color: white;
}
button{
    width:10px;
}
.third
{
    float:left;
   margin: top 10%;;
   margin-left: -200px;
   width:1460px;
   height:30px;
   font-size: 14px;
   border-bottom:2px solid #D9D7D8;
   line-height:0.5;
   color:#404F76;
    
  
}
.third li{
    margin:0;
    float:left;
    padding:0px 10px 0px 10px;
    
}
.third .first-item
{
    padding-left:170px;
}
.bride
{
    margin-left:18%;
    height:70%;
    width:5%;
    margin-top:-5px;
}
.third .bridal-registry 
{
    text-decoration:none;
    margin-bottom:5px;
    
}
.menu
{
    color:white;
    opacity:0.7;
}

.fourth
{
    width:1060px;
    height:445px;
    border-left:5px solid white;
    border-right:5px solid white;
    border-bottom:5px solid white;
    margin-left:1%;
}
.fourth ul{
    padding:0;
}
.fourth li
{
    padding: 0;
}

.fourth .right .for-line
{
    width:200px;
    margin-left:-6px;
    margin-top:4px;
    margin-bottom:4px;
    height:0.5px;
    background-color:rgba(255,255,255,0.3);
    
}
.create
{
    color:#ADABAC;
}
.recipe
{
    width:100%;
    
    
}
.left { 
    
    float: left;
    width:70%;
    height:61%;
    border-right:5px solid white;
    
}
.heading
{
    font-size:25px; 

}
.right
{ 
    
    background-color:rgba(0,0,0,0.7);; 
    float: left;
    
    color:white;
    height: 345px;
    width: 213px;
    outline: 0.2px solid rgba(255,255,255,0.2);
    outline-offset:-7px;
    padding:50px;
    font-size:14px;
    text-align: left;
} 

.fifth
{

    margin-left: 10px;
    width:1060px;
    height:26%;
    font-size:13px;
    border:5px solid black;
    background-color: white;
}
.fifth-left
{
         
    color:rgba(0,0,0,0.5);
    
    float:left;
    width:33%;
    height:90%;

}
.fifth-left a{
    color:rgba(0,0,0,0.5);
    text-decoration: none;;
}
.see-links
{
    position: absolute;
    text-decoration: none;
    margin-top: 27px;
    margin-left: 200px;
}
.see-links-clear
{
    position: absolute;
    text-decoration: none;
    margin-top: 27px;
    margin-left:10px;
    
} 
.see-links-clear a{
    text-decoration: none;
    color:rgba(0,0,0,0.5);
}   

.fifth-right-content
{
    padding:10px 6px 10px 10px;
    color:rgba(0,0,0,0.5);
    float:left;
    width:42%;
}
.fifth-right-image
{
    float:right;
    width:50%;
}

.fifth-left .fifth-left-top
{
    padding:10px 6px 10px 10px;
}
h5,h3{
    margin:0;

}

.fifth-middle
{
    
    color:black;
    background-color: white;
    float:left;
    width:30%;
    
}
.fifth-right
{
    
    color:black;
    background-color: white;
    float:left;
    width:30%;
    height:90%;
    
}
.footer
{
    width:1060px;
    height:50px;
    margin-left:20px;
    color:rgba(255,255,255,0.5);
}
.child-footer
{
    width:50%;
    float:left;
    color:rgba(255,255,255,0.5);
}
.child-footer a{
    color:white;
}

.footer a{
    color:rgba(255,255,255,0.5);
}
.separator {
    float: left;
    
    background-color: rgba(0,0,0,0.1);
    width: 1px;
    padding: 10px 0px 10px 0px;
    height: 145px;
    margin-top: 9px;
}
