body
{
    background-image:url("background12.png");
    font-family: 'Calibri';
}
.container
{
    margin:auto;
    width:900px;
    height:700px;
    
}
.first a
{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.first{
    color:#ADABAC;
    float:left;
    width:1060px;
    height:40px;
    font-size: 13px;
    line-height:2;

}
.lock
{
    margin-left:8px;
    height:14px;
}
.navbar
 {
    margin-left: 325px;
    margin-top: -35px;
    padding: 4px;
    
}
 .navbar .combine .checkout 
 {
    color:navy;
    opacity:0.7;
    margin-left:6px;
    
 }
.combine
{
    
    padding-left:19px;
    margin-top:-25px;
}
ul{
    list-style-type:none;
}
.first li {
    float: left;
}
.first li + li:before{
	content: " | ";
    padding: 0 10px;
    
}

.second
{
    
    float:left;
    font-size: 14px;;
    width: 1897px;
    margin-left: -56%;
    height:28px;
    border-top:2px solid #D9D7D8;
    border-bottom:2px solid #D9D7D8;
    line-height: 2.3;
    padding:2px;
    
    
}
.second .Dining
{
    
        padding-left: 510px;
        margin-left: -42px;
    
}
.second li
{
    padding-left:15px;
    padding-right:15px;
    background-color: #D9D7D8;
    margin-right:1px;
    font-size:12px;
    float:left;
   
}
.second a{

    color:black;
    text-decoration: none;;
}
.second ul{
    margin:0;
}




.second .search
{
    background-color:#D9D7D8;
    padding-left: 85px;
    padding-right: 26.5%;
    
    
        

}
.second .textfield
{
    height:12px;
    font-size:10px;
    margin-right:5px;
    width:150px;
    
    border:2px solid white;
border-style: inset;
       
}
.go
{
    padding:1px 3px 1px 3px;
    border-radius:4px;
    background-color: white;
    margin-left:7px;
}
button{
    width:10px;
}
.third
{
    float:left;
   margin: top 10%;;
   width: 1825px;
   margin-left: -56%;
   height:30px;
   font-size: 14px;
   border-bottom:2px solid #D9D7D8;
   line-height:0.5;
   color:#404F76;
   padding-left:75px;
    
  
}
.third li{
    margin:0;
    float:left;
    padding:0px 10px 0px 10px;
    
}
.third .first-item
{
    padding-left: 392px;
}

.bride
{
    margin-left: 7%;
    height: 90%;
    width: 3%;
    margin-top: -12px;
    
}

.third .bridal-registry-link
{
    float:right;
    
    margin-right: 596px;
    margin-top: -4px;
}
.third .bridal-registry-link a
{
    text-decoration: none;
    color:navy;
    opacity:0.8;
}
.menu
{
    color:white;
    opacity:0.7;
}

.fourth
{
    width: 884px;
    height: 376px;
    border-left:5px solid white;
    border-right:5px solid white;
    border-bottom:5px solid white;
    margin-left:0.5%;
}
.fourth ul{
    padding:0;
}
.fourth li
{
    padding: 0;
}
.third .bullet
{
    color: grey;
    width:5px;

}

.fourth .right .for-line
{
    width:200px;
    margin-left:-6px;
    margin-top:4px;
    margin-bottom:4px;
    height:0.5px;
    background-color:rgba(255,255,255,0.3);
    
}
.create
{
    color:#ADABAC;
}
.recipe
{
    width:100%;
    height: 118%;
    
    
}
.left { 
    
    float: left;
    width:70%;
    height: 84.5%;
    border-right:5px solid white;
    
}
.heading
{
    font-size:25px; 

}
.right
{ 
    font-family:Segoe UI light;
    background-color: rgba(0,0,0,0.8);
    float: left;
    color: white;
    height: 330px;
    width: 200px;
    outline: 0.2px solid rgba(255,255,255,0.2);
    outline-offset: -7px;
    padding:15px 30px 30px 30px;
    font-size: 14px;
    text-align: left;
} 

.fifth
{

    margin-left: 0.5%;
    width: 885px;
    height:26.2%;
    font-size:14px;
    border:5px solid black;
    background-color: white;
}
.fifth-left
{
         
    color:rgba(0,0,0,0.5);
    
    float:left;
    width:33%;
    height:90%;

}
.fifth-left a{
    color:rgba(0,0,0,0.5);
    text-decoration: none;;
}
.see-links
{
    position: absolute;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 180px;
}

.see-links-accents
{
    position: absolute;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 160px;

}
.see-links-clear
{
    position: absolute;
    text-decoration: none;

    
} 
.see-links-clear a{
    text-decoration: none;
    color: navy;
    opacity:0.7;
}   

.fifth-right-content
{
    padding: 10px 0px 10px 10px;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    float: left;
    width: 47%;
}
.see-links-accents a{
    text-decoration: none;
    color: navy;
    opacity:0.7;
} 
.see-links a{
    text-decoration: none;
    color: navy;
    opacity:0.7;
} 
.fifth-right-image
{
    float:right;
    margin-top: 27.5px;
    width: 47.5%;
}

.fifth-left .fifth-left-top
{
    padding: 10px 10px 10px 10px;
}
h5,h3{
    margin:0;

}

.fifth-middle
{
    
    color:black;
    background-color: white;
    float:left;
    width:30%;
    
}
.fifth-right
{
    
    color:black;
    background-color: white;
    float:left;
    width:30%;
    height:90%;
    
}
.footer
{
    width:1060px;
    height:50px;
    margin-left:0.5%;
    color:rgba(255,255,255,0.5);
    margin-top:4px;
    line-height:21px;
}
.child-footer-left
{
    width:50%;
    float:left;
    font-size:12px;
    color:rgba(255,255,255,0.5);
}
.child-footer-left a{
    color:white;
}
.child-footer-right
{
    width: 42.5%;
    
    float:right;
    font-size:12px;
    color:rgba(255,255,255,0.5);
}
.child-footer-right p{
    margin:0;
}

.footer a{
    color:rgba(255,255,255,0.5);
}
.separator {
    float: left;
    
    background-color: rgba(0,0,0,0.1);
    width: 1px;
    padding: 10px 0px 10px 0px;
    height: 145px;
    margin-top: 9px;
}
.signup
{
    border-radius: 6PX;
    padding:4px 3px 3px 3px;
    font-size:10px;
}
.enter-email
{
    font-size:10px;
}
.footer ul{
    margin:0;
    margin-left:-40px;
    
}
.footer li{
    float:left;
}
.footer p{
    margin:0;
}
.footer-links a
{
    text-decoration: underline;
    text-underline-offset:1.3px;;
    
}
.footer-links li + li:before
{
    content: " | ";
    padding:0 10px;
    text-decoration: none;;
}