body
{
	font-family:'Trebuchet MS';
    
	margin:0;
	background-image:url('bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.content{
	width:1030px;
	height:550px;
	margin-left:270px;
	margin-top:35px;
	
}
.options{
	margin-left:64.5%;
	width:315px;
	height:17px;
	background-color:#3C558D;
	margin-top:0;
	font-size:12px;
	padding-left:6px;
	padding-top:3px;
	
}
.options a{
	color:white;
	text-decoration:none;
}
.options a + a:before{
	content: " | ";
    color:skyblue;;
}
.active
{
	padding-top:3px;
	padding-bottom:3px;
 background-color:#48687e;
}
	
.first
{
outline: 0.2px solid rgba(255,255,255,0.15);
outline-offset: -4px;
background-color:rgba(20,44,68);
height:45px;
width:1030px;
}
.logo
{position:relative;
    z-index:1;
	margin-top:-3%;
	margin-left:3.5%;
	width:15%;
	height:250%;
}
.menu a{

}
.menu{
	width:700px;
	height:20px;
	margin-top:-7%;
	margin-left:25%;
	
}
.first a{

	color:skyblue;
	text-decoration:none;
}


.first .active{
	
	background:rgb(255,255,255,0.3);
	border-radius:5px;
}
.first a + a:before{
	content: " | ";
    padding: 0 10px;
	color:yellow;
}

.second
{
	
	height:20px;
	width:1030px;
	font-size:24px;
	padding-top:30px;
	
}
.msg1
{
	font-family:'Trebuchet MS';
    font-weight: lighter;
	margin:0%;
	
	margin-left:2.5%;
	line-height:1.5;
	color:white;
	
}
.msg2
{
	font-family:'Trebuchet MS';
    font-weight: lighter;
	margin:0%;
	margin-left:2.5%;
	
	color:white;
	
}
.frameSet
{

font-family:'Trebuchet MS';
font-weight: lighter;
outline: 0.2px solid rgba(255,255,255,0.2);
outline-offset:-4px;
height:500px;
padding:25px;
font-size:15px;	
background-color:rgba(20,44,68);
	
}
h3
{
	margin:0;
}
.leftDiv
{
	 width: 35%;
	 float:left;
}
.rightDiv
{
	width: 65%; 
	color:rgba(255,255,255,0.8);
	font-size:17px;
	float:right;
}
.rightDiv a{
	color:skyblue;
	text-decoration:underline;
}
.rightDiv p{
	
}
.para
{
	margin:6px;
}

.button {
  background-color:#1b567a;
  border: none;
  color: white;
  padding:4px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  
  height:50%;
  border-radius:4px;
  background-image:linear-gradient(#145C78,#0c293D);
            
}
.button a{
	text-decoration:none;
}
	
.leftBottom{
	width:45%;
	
	border-top: 0.2px solid rgba(255,255,255,0.15);
	border-bottom: 0.2px solid rgba(255,255,255,0.15);
	padding:12px;
	
}
.leftBottom a
{
	
	color:skyblue;
	text-decoration:underline;
}
.rightBottom
{
	margin-top:4px;
	border-top: 0.2px solid rgba(255,255,255,0.15);
	border-bottom: 0.2px solid rgba(255,255,255,0.15);
	padding:10px;
	background-color:rgba(20,44,68);
	padding-left:20px;
	
	
	
}

.heading
{
	color:skyblue;
}

.copyright
{
	
	text-align:center;
	font-size:12px;
	color:rgba(255,255,255,0.5);
	line-height:22px;
}
.copyright a{
	 color:rgba(255,255,255,0.5);
	 
}
.decor{
	margin-top:5px;
	height:25px;
	width:1030px;
	background-color:rgba(20,44,68);
}
h6
{
	margin:0;
}


